.App {
  text-align: center;
}

.nav a {
  float: left;
  padding: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: 3px solid black;
}

.nav a.active {
  border-bottom: 3px solid black;
}


p {
  background-color: lightcyan;
  margin: 0px 50px;
  padding: 10px;
}